.vc-clean-dm-danger {
    color: #ed4245;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.vc-clean-dm-danger:hover {
    background: rgba(237, 66, 69, 0.15);
}

/* ACTIVE CHAT BAR ICON */
.vc-cleaning-active {
    color: #ed4245;
    animation: vcPulse 1s infinite;
}

.vc-cleaning-active:hover {
    color: #ff5c5f;
}

@keyframes vcPulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}